@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'color.css';

.app {
	background-color: var(--clr-primary);
}
body {
	--transition-duration: 0.3s;
  }

.ThemeContext {	
	transition: background-color var(--transition-duration) ease;
 }