@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'color.css';

.app {
	background-color: var(--clr-primary);
	transition: background-color 0.5s ease !important;
}

h1, h2, h3, p {
	transition: color 0.5s ease !important;
}

a {
    text-decoration: none !important;
}
